<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository/>
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
            <id>ossrh</id>
            <username>acanda</username>
            <password>${ossrh.password}</password>
        </server>
    </servers>
    <mirrors/>
    <proxies/>
    <profiles>
        <profile>
            <id>sonatype-oss-release</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>44F947ED</gpg.keyname>
                <gpg.passphrase>${gpg.password}</gpg.passphrase>
                <gpg.executable>gpg2</gpg.executable>
                <gpg.defaultKeyring>false</gpg.defaultKeyring>
                <gpg.useagent>true</gpg.useagent>
                <gpg.lockMode>never</gpg.lockMode>
                <gpg.homedir>${gpg.homedir}</gpg.homedir>
                <gpg.publicKeyring>${gpg.homedir}/pubring.gpg</gpg.publicKeyring>
                <gpg.secretKeyring>${gpg.homedir}/secring.gpg</gpg.secretKeyring>
            </properties>
        </profile>
    </profiles>
    <activeProfiles/>
</settings>
