name: Maven Build

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: false
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Cache OWASP database
        uses: actions/cache@v5
        with:
          path: target/owasp/data
          key: owasp-data
      - name: Build with Maven
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: mvn -B verify --file pom.xml
      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v7
        with:
          name: test-reports
          path: target/surefire-reports/
          retention-days: 14
          compression-level: 9
